html {
    	animation: fadein 2s;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes color {
	from { color: inherit; }
    	to { color: #3CB371; }
}
	
body {
	font-family: 'Roboto';
	font-size: 22px;
	color: #1C1C1C;
	background-color: #E6ECF0;
	margin: 0 0 100px;
    	padding: 25px;
}
	
body.dark {
    	background-color: #10171E;
	color: #FFF;
}

nav {
	background-color: #FFF;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 5px;
}
	
nav.dark {
    	background-color: #15202B;
}

#lightSwitch {
	width: 150px;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 60px;
	margin: 0;
	padding: 0;
}

a {
	color: #1C1C1C;
    	text-decoration: none;
}

a.dark {
    	color: #FFF;
}

a:hover {
    	animation: color .5s;
    	color: #3CB371;
}

#mainContent {
	padding: 10px;
	background-color: #FFF;
	margin-top: 10px;
	display: flex;
	justify-content: space-around; 
	flex-wrap: wrap;
}

#mainContent.dark {
    	background-color: #15202B;
}

#leftSideBar {
	text-align: center;
	margin-top: 150px;
}

#middle {
	border: solid 1px;
	margin-top: 20px;
	width: 600px;
	height: 600px;
}

#instructions {
	text-align: center;
}

#rightSideBar {
	text-align: center;
	margin-top: 20px;
}

#leaderboards{
	text-align: center;
	display: inline;
}

#pictures {
	width: 100%;
	text-align: center;
	border: solid 1px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 0;
}

#upload-Image {
	margin-left: 60px;
}

img {
	max-width: 200px;
	max-height: 200px;
	display: inline;
}

canvas {
	border: solid 1px black;
	width: 600px;
	height: 600px;
}
	
textarea {
    	width: 300px;
    	height: 200px;
    	margin-bottom: 10px;
    	padding: 10px;
    	border: solid 1px #1C1C1C;
    	border-radius: 2px;
    	resize: none;
}
	
input {
    	padding: 5px;
}

select {
	margin-bottom: 20px;
}

#easy {
	position: relative;
	left: 250px;
	top: -380px;
	border: 0;
    	outline: none;
    	border-radius: 5px;
    	padding: 10px;
    	font-size: 20px;
    	font-weight: 600;
    	text-transform: uppercase;
    	letter-spacing: .1em;
    	color: white;
    	background-color: #0084b4;
    	-webkit-transition: all 0.5s ease;
    	transition: all 0.5s ease;
    	-webkit-appearance: none;
    	margin-bottom: 20px;
}

#medium {
	position: relative;
	left: 235px;
	top: -360px;
	border: 0;
    	outline: none;
    	border-radius: 5px;
    	padding: 10px;
    	font-size: 20px;
    	font-weight: 600;
    	text-transform: uppercase;
    	letter-spacing: .1em;
    	color: white;
    	background-color: #0084b4;
    	-webkit-transition: all 0.5s ease;
    	transition: all 0.5s ease;
    	-webkit-appearance: none;
    	margin-bottom: 20px;
}

#hard {
	position: relative;
	left: 250px;
	top: -340px;
	border: 0;
    	outline: none;
    	border-radius: 5px;
    	padding: 10px;
    	font-size: 20px;
    	font-weight: 600;
    	text-transform: uppercase;
    	letter-spacing: .1em;
    	color: white;
    	background-color: #0084b4;
    	-webkit-transition: all 0.5s ease;
    	transition: all 0.5s ease;
    	-webkit-appearance: none;
    	margin-bottom: 20px;
}

#reset {
	border: 0;
    	outline: none;
    	border-radius: 5px;
    	padding: 10px;
    	font-size: 20px;
    	font-weight: 600;
    	text-transform: uppercase;
    	letter-spacing: .1em;
    	color: white;
    	background-color: #0084b4;
    	-webkit-transition: all 0.5s ease;
    	transition: all 0.5s ease;
    	-webkit-appearance: none;
    	margin-bottom: 20px;
}

#random {
	border: 0;
    	outline: none;
    	border-radius: 5px;
    	padding: 10px;
    	font-size: 20px;
    	font-weight: 600;
    	text-transform: uppercase;
    	letter-spacing: .1em;
    	color: white;
    	background-color: #0084b4;
    	-webkit-transition: all 0.5s ease;
    	transition: all 0.5s ease;
    	-webkit-appearance: none;
    	margin-bottom: 10px;
}

#logo {
	border: 0px;
    	display: inline;
    	position: absolute;
    	top: 40px;
    	left: 30px;
	margin-left: 10px;
	font-size: 40px;
	width: 100px;
	height: 100px;
}

video {
	max-width: 80%;
	margin: 0 auto;
	display: block;
}

table {
    	margin-bottom: 100px;
}
	
/*Footer*/
footer {
    	position: absolute;
    	left: 0;
    	bottom: 0;
    	right: 0;
    	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
