@charset "utf-8"

@font-face {
	font-family: 'Roboto', sans-serif;
}
/*Layout for phones and tablets e.g. iPhone 5 and iPad*/

	/*webpage fades in*/
	html {
		animation: fadein 2s;
		position: relative;
		min-height: 100%;
	}

	/*animation*/
	@keyframes fadein {
		from { opacity: 0; }
		to { opacity: 1; }
	}
	
	/*main colour settings for page*/
	body {
		color: black;
		font-family: 'Roboto';
		background-color: #FFF;
		margin: 0 0 100px;
		padding: 25px;
	}
	
	/*Links*/
	a, a:link, a:visited {
		color: black;
		text-decoration: none;
		transition: 1s;
	}
	
	/*Link hovering*/
	nav a:hover {
		text-decoration: none;
		border: solid 1px black;
		border-radius: 5px;
		padding: 10px;
	}

	/*Main heading*/
	h1 {
		font-size: 3em;
		max-width: 100%;
		max-height: 100%;
		text-align: center;
		position:absolute;
		left: 0; right: 0;
		height: 92px;
	}
	
	/*Secondary heading*/
	h2 {
		font-size: 2.75em;
		max-width: 100%;
		max-height: 100%;
	}
	
	/*Tertiary heading*/
	h3 {
		font-size: 2.5em;
		max-width: 100%;
		max-height: 100%;
	}
	
	/*Text*/
	p {
		font-size: 0.75em;
	}
	
	/*Images*/
	img {
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
		text-align: center;
		display: block;
	}
	
	#logo {
		float: left;
		margin-left: 10px;
		margin-top: 5px;
		max-height: 100px;
		max-width: 100px;
	}
	
	canvas {
		border: solid 1px black;
	}
	
	/*Footer*/
	footer {
		max-width: 100%;
		max-height: 100%;
		text-align: center;
	}
	
	button {
		margin-bottom: 1em;
	}
	
	/*Main Body*/
	#mainContent {
		position: absolute;
		left: 198px; top: 92px; right: 0; bottom: 0;
		padding: 2em;
		text-align: center;
	}
	
	#sideBar {
		position:absolute;
		left: 20px; top: 92px; bottom: 0;
		width: 178px;
		text-align: center;
		padding: 1em;
		border-right: solid 1px black;
	}
	
	#sideBar img{
		max-width: 100px;
		max-height: 100px;
		margin-bottom: 2em;
	}
	
	/*Light Switches*/
	#lightSwitchOff {
		display: inline;
		margin-top: 10px;
	}
	
	#lightSwitchOn {
		display: inline;
		margin-top: 10px;
	}
	
/*Layout for desktop with a min-width of 1024px*/
@media only screen and (min-width: 1024px) {
	
	p, li {
		font-size: 1.5em;
	}

	h1 {
		font-size: 2.75em;
	}
	
	h2 {
		font-size: 2.25em;
	}
	
	h3 {
		font-size: 2em;
	}
	
	#enter {
		max-width: 60%;
		max-height: 60%;
	}
}

/*Layout for desktop with a min-width of 1280px (720p HD)*/
@media only screen and (min-width: 1280px) {
	
	li {
		font-size: 1.5em;
	}
	
	h1 {
		font-size: 3em;
	}
	
	h2 {
		font-size: 2.25em;
	}
	
	#enter {
		max-width: 50%;
		max-height: 50%;
	}
}

/*Layout for desktop with a min-width of 1920px (1080p HD)*/
@media only screen and (min-width: 1920px) {
	
	p {
		font-size: 1.25em;
	}
	
	#enter {
		max-width: 40%;
		max-height: 40%;
	}
}

/*Layout for desktop with a min-width of 200px e.g. iMac*/
@media only screen and (min-width: 2000px) {
	
	p {
		font-size: 2em;
	}
}
