@charset "utf-8"

@font-face {
	font-family: 'Roboto', sans-serif;
}
/*Layout for phones and tablets e.g. iPhone 5 and iPad*/

	/*webpage fades in*/
	html {
		animation: fadein 2s;
		position: relative;
		min-height: 100%;
	}

	/*animation*/
	@keyframes fadein {
		from { opacity: 0; }
		to { opacity: 1; }
	}
	
	/*main colour settings for page*/
	body {
		color: black;
		font-family: 'Roboto'; /* Custom Font */
		background-color: #FFF; /*Background is white */
		margin: 0 0 100px;
		padding: 25px;
	}
	
	/*Links*/
	a, a:link, a:visited {
		color: black;
		text-decoration: none;
		transition: 1s;
	}
	
	/*Link hovering*/
	nav a:hover {
		text-decoration: none;
		border: solid 1px black;
		border-radius: 5px;
		padding: 10px;
	}
	
	header {
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		position: relative;
		width: 100%;
		height: 120px;
		margin: auto;
		border: solid 1px black;
		margin-bottom: 10px;
	}

	/*Main heading*/
	h1 {
		font-size: 3em;
		text-align: center;
		margin: auto;
	}
	
	/*Secondary heading*/
	h2 {
		font-size: 2em;
		max-width: 100%;
		max-height: 100%;
	}
	
	/*Text*/
	p {
		font-size: 0.75em;
	}
	
	/*Images*/
	img {
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
		text-align: center;
		display: block;
	}
	
	#logo {
		float: left;
		margin-left: 10px;
		margin-top: 5px;
		max-height: 100px;
		max-width: 100px;
	}
	
	canvas {
		height: 300px;
		width: 300px;
		border: solid 1px black;
	}
	
	button {
		margin-bottom: 1em;
	}
	
	/*Main Body*/
	#wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-around; 
		flex-wrap: wrap;
		height: 700px;
		width: 100%;
		border: solid 1px black;
	}
	
	#leftSideBar {
		height: 660px;
		margin-top: 20px;
		text-align: center;
	}
	
	#leftSideBar img {
		max-width: 100px;
		max-height: 100px;
		margin-bottom: 2em;
	}
	
	#mainContent {
		height: 150px;
		margin-top: 40px;
		text-align: center;
	}

	#rightSideBar {
		height: 660px;
		margin-top: 20px;
		text-align: center;
	}
	
	/*Footer*/
	footer {
		position: absolute;
		left: 0;
		bottom: 10px;
		width: 100%;
		overflow: hidden;
		text-align: center;
	}
	
	/*Light Switches*/
	#lightSwitchOff {
		display: inline;
		margin-top: 10px;
	}
	
	#lightSwitchOn {
		display: inline;
		margin-top: 10px;
	}
	
/*Layout for desktop with a min-width of 1024px*/
@media only screen and (min-width: 1024px) {
	
	p, li {
		font-size: 1.5em;
	}

	h1 {
		font-size: 2.75em;
	}
	
	h2 {
		font-size: 2.25em;
	}
	
	canvas {
		width: 450px;
		height: 450px;
	}
	
	#enter {
		max-width: 60%;
		max-height: 60%;
	}
}

/*Layout for desktop with a min-width of 1280px (720p HD)*/
@media only screen and (min-width: 1280px) {
	
	li {
		font-size: 1.5em;
	}
	
	h1 {
		font-size: 3em;
	}
	
	h2 {
		font-size: 2.25em;
	}
	
	canvas {
		width: 600px;
		height: 600px;
	}
	
	#enter {
		max-width: 50%;
		max-height: 50%;
	}
}

/*Layout for desktop with a min-width of 1920px (1080p HD)*/
@media only screen and (min-width: 1920px) {
	
	p {
		font-size: 1.25em;
	}
	
	#enter {
		max-width: 40%;
		max-height: 40%;
	}
}

/*Layout for desktop with a min-width of 200px e.g. iMac*/
@media only screen and (min-width: 2000px) {
	
	p {
		font-size: 2em;
	}
}
